.container{
    width: 100%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form{
    border: 1px solid rgb(235, 209, 235);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    .input-box{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        mat-form-field{
            min-width: 250px;
        }
    }
}